{% load staticfiles %}
{{ form.media.css }}
{{ form.media.js }}
<html>
    <head>
        <title>Mercos</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/pedido.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body style="background-color:#e6f3ff;">
        <div class="page-header">
            <h1 align="center" color=#9900ff><a href="/">Pedidos</a></h1>
        </div>

        <div>
          <h2 style="background-color: #b3daff;color:#339cff; height:50px; " align="center">Lista de Cadastros</h2>
          {% if object_list != None %}

                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Editar</th>
                      <th scope="col">ID</th>
                      <th scope="col">Cliente</th>
                      <th scope="col">Item</th>
                      <th scope="col">Preco Unitario</th>
                      <th scope="col">Quantidade</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for cadastro in object_list %}
                    <tr>

                      <td><a href="/{{ cadastro.id }}/"><i class="far fa-edit"></i></a></td>
                      <td>{{cadastro.id}}</td>
                      <td>{{cadastro.cliente}}</td>
                      <td>{{cadastro.item}}</td>
                      <td> {{cadastro.preco_unitario}} </td>
                      <td> {{cadastro.quantidade}}</td>
                      <td> {{cadastro.total}}</td>
                    </tr>
                  </tbody>
                </tr>
                {% endfor %}
          {% else %}
              <p>Nenhum cadastro foi feito ainda.</p>
          {% endif %}
      </table>


         </table>
       </div><br> <br>
       <div class="content">
         <a href="{% url 'index' %}"><input style="position:absolute; right: 200px;" type =button value='Cadastrar'></a>
       </div>
    </body>
</html>
